.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes upDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

.animate-upDown {
  animation: upDown 4s infinite;
}

@keyframes fadeUpLeftToRight {
  0% {
    opacity: 0;
    transform: translateY(20px);
    clip-path: inset(0 100% 0 0); /* Initially hide from the right */
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    clip-path: inset(0 0 0 0); /* Reveal from the left to right */
  }
}

.fade-up-left-to-right {
  animation: fadeUpLeftToRight 1.5s ease-out forwards; /* Smooth fade-up from left to right */
}

@keyframes rainbow {
  0% { fill: red; }
  14% { fill: orange; }
  28% { fill: yellow; }
  42% { fill: green; }
  57% { fill: blue; }
  71% { fill: indigo; }
  85% { fill: violet; }
  100% { fill: red; }
}

@keyframes wave {
  0% { transform: translateY(0); }
  50% { transform: translateY(calc(-50px * var(--amplitude))); } /* Dynamic amplitude */
  100% { transform: translateY(0); }
}

.bar {
  animation: rainbow 5s infinite linear, wave 2s infinite ease-in-out;
  --amplitude: 1; /* Placeholder, to be overridden by JS */
  transition: fill 1s linear; /* Smooth color transition */
}


.chart-legend-container {
  max-height: 100px; /* Adjust height as necessary */
  overflow-y: auto;  /* Allow scrolling */
  padding-top: 10px; /* Space above the list */
  list-style-type: none; /* Remove default list styling */
  padding-left: 0;    /* Remove default left padding */
}

.legend-list {
  margin: 0;         /* Remove margin */
  padding: 0;        /* Remove padding */
}

.legend-item {
  display: flex; /* Make each legend item flex for alignment */
  align-items: center; /* Align icon and text properly */
  margin-bottom: 5px; /* Space between legend items */
}

.legend-item span {
  margin-right: 5px; /* Space between color box and label */
}

.max-h-600px {
  max-height: 600px;

.css-xc836r-control {
  border-radius: 8px !important;

}